<div>
          <nav class="navbar navbar-expand-lg navbar-dark navbar-custom w3-padding-large">
          <a class="navbar-brand" href="/"><p class="w3-text-black w3-xlarge pr-3 pt-2" style="font-family: 'Noto Sans JP', sans-serif;">YOGAROGYA</p></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/"><i class="fa fa-home"></i>Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="#">About</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="#">Blog</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/users/login">Login</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link mr-3 w3-text-black" href="/users/register">Register</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>  
  
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Customer Register
      </h1>
      <br>
      <!--Name-->
      {{#if errors}}
            {{#each errors}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                   <p>{{this.msg}}</p>
            </div>
            {{/each}}
      {{/if}}
      <form action="/student/register" method="POST" class="w3-text-dark-gray">
        <div class="form-group">
          <label for="name">Full Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Full Name"
            value="{{name}}"
          />
        </div>
        <!--Email-->
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="{{email}}"
          />
        </div>
        <!--Password-->
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="{{password}}"
          />
        </div>
        <!--Confirm Password-->
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="{{password2}}"
          />
        </div>
        <!--Contact Number-->
        <div class="form-group">
            <label for="cnum">Contact Number:</label>
            <input type="text" class="form-control" placeholder="Enter Contact Number" id="phone" name="phone">
        </div>
         <!--Country-->
        <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" class="form-control" placeholder="Enter Country" id="country" name="country">
        </div>
        <!----State---->
        <div class="form-group">
            <label for="state">State:</label>
            <input type="text" class="form-control" placeholder="Enter State" id="state" name="state">
        </div>
        <!----City---->
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" placeholder="Enter City" id="city" name="city">
        </div>
        <!---Street---->
        <div class="form-group">
            <label for="street">Street:</label>
            <input type="text" class="form-control" placeholder="Enter Street" id="street" name="street">
        </div>
        <!---Pincode---->
        <div class="form-group">
            <label for="pincode">Pincode:</label>
            <input type="text" class="form-control" placeholder="Enter Pincode " id="pincode" name="pincode">
        </div>
        <br>
        <br>
        <!--Button-->
        <button type="submit" class="btn btn-primary btn-block">Register</button>
        <br>
      </form>  
      <p class="w3-large mt-4">Have An Account? <a class="w3-text-blue" href="/student/login">Login</a></p>
    </div>
  </div>
</div>
